
.sidebar{
    width: 269px;
}

.sidebar i {
    font-size: 20px;
    margin: 0px 11px 0px 0px;

}
.icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
